@model HatebookUX.Models.LogIn

@{
    ViewData["Title"] = "Log in";
}

<br />
<h1>Log in</h1>

@{
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LogIn">
            <div class="form-group">
                <label asp-for="email" class="control-label">Email</label>
                <input asp-for="email" class="form-control" placeholder="Enter your email" />
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Password</label>
                <input asp-for="password" class="form-control" placeholder="Enter your password" />
            </div>
            <br />
            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn btn-secondary">Log in</button>
                    <a asp-action="Index" class="btn btn-primary">Don't have an account? Register here!</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <span>&#8592;</span><a asp-action="Index" class="btn btn-link btn-block">Back to homepage</a>
</div>
